:root{
    --colorDefault: #ffff00;
    --whiteColor: #ffffff;

}

.navbar{
    background-color: transparent !important;
}

.navbar-brand{
    font-size: 1.7rem;
    color: var(--colorDefault) !important;
    padding-left: 6rem;
}

.navbar-nav{
    margin: 0 30rem auto;
}

.navbar-nav > li{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 15px;
}

.nav-link:hover{
    color: var(--colorDefault) !important;
}

.nav-link{
    color: var(--whiteColor) !important;
    transition: all .3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.home{
    background: url(../images/bg.avif) no-repeat;
    background-size: cover;
    height: 43rem;
}

.shadow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: 43rem;
}

.home .col-md-6{
    margin: 25% auto;
}


.titles p{
    font-size: 1.5rem;
    color: var(--whiteColor);
    text-align: center;
    margin-bottom: 0;
}

.home .col-md-6 .titles h3{
    font-size: 4rem;
    text-align: center;
    color: var(--whiteColor);
    font-weight: 600;
}

.button a{
    background-color: #00b7ff;
    border-radius: 10px;
    color: white;
    padding: 15px 46px;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease;
}

.button a:hover{
    padding: 15px 55px;
}

.button{
    margin: 2rem 11rem;
    width: 100%;
}

#nav.fixed{
    background-color: #0a0a0af8 !important;
    padding: 0;
}

#nav{
    transition: all .5s ease;
}

/* Services section */

.services{
    font-family: sans-serif;
}

.services .card{
    border: none;
    border-radius: 0;
}

.services .card .card-header{
    text-align: center;
    background-color: transparent !important;
}

.card .card-header i {
    font-size: 3rem;
    background-color: rgb(255, 196, 0);
    padding: 1.5rem;
    color: var(--whiteColor);
    border-radius: 50%;
}

.card .card-body{
    text-align: center;
}

hr{
    border: 1px solid rgb(49, 49, 49);
    width: 90px;
    margin: 10px auto 50px auto;
}

.text{
    margin: 5rem auto auto auto;
    font-size: 2.3rem;
    text-transform: uppercase;
}

/* Portfolio section */

.portfolio{
    padding: 5rem 0 5rem;
}

.col-md-4 > .card > .card-header > img{
    width: 100%;
    height: 81%;
}

.portfolio-card .card-header{
    padding: 0;
}

.card .card-header{
    background-color: white !important;
}

.card{
    border: none !important;
    background-color: white !important;
    margin-bottom: 40px !important;
}

.card .card-header p {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.card-header .overlay{
    display: flex;
    position: absolute;
    width: 100%;
    height: 81%;
    background: rgba(255, 200, 0, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity cubic-bezier(0,.58,.99,.5) 0.25s;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.overlay:hover{
    opacity: 1;
}

.overlay:hover::after{
    content: '';
    width: 7px;
    height: 50px;
    background-color: var(--whiteColor);
    position: absolute;
    border-radius: 5px;
}

.overlay:hover::before{
    content: '';
    width: 7px;
    height: 50px;
    background-color: var(--whiteColor);
    position: absolute;
    margin: 100px 170px;
    border-radius: 5px;
    transform: rotate(90deg);
}

/* About section */

.about{
    padding: 5rem 0 5rem;
    height: 100vh;
    background-color: #020113;
    color: rgb(0, 255, 115);
    height: 100vh;
}

.about .col-md-4{
    margin: 4rem 2rem;
}

.about .col-md-4 img {
    position: relative;
    bottom: 85px;
}

.about .container .row .col-md-4:nth-child(2){
    margin: 4rem -2rem;
}

.about .col-md-4 .info h4{
    color: white;
    font-size: 27px;
    font-weight: 600;
    border-bottom: 2px solid rgb(0, 255, 115);
    margin-bottom: 20px;
}

.about .col-md-4 .info p{
    letter-spacing: .5px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.info ul li{
    list-style: none;
    color: white;
    opacity: .7;
    margin-bottom: 10px;
}

.info ul{
    position: relative;
    right: 39px;
    width: 400px;
}

.info{
    position: relative;
    bottom: 80px;
}

.info i{
    margin-right: 10px;
}